
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  #nav-top-right-social-bar .nav-item {
    display: none;
  }

  #nav-searchBar {
    display: block!important;
    top: 10px;
    position: absolute;
    right: 0px;
  }

 }


 /* Small devices (landscape phones, less than 768px)*/

 @media (max-width: 991.98px) {
   #navbar-mainmenu {
         top: -75px;
   }

 }


 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
   #nav-searchBar {
     display: none;

   }

 }
