/* Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
  #nav-top-right-social-bar .nav-item {
    display: none;
  }
  #nav-searchBar {
    display: block !important;
    top: 10px;
    position: absolute;
    right: 0px;
  }
  #navbar-mainmenu {
    top: -75px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #nav-searchBar {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #nav-bottom-social-bar {
    justify-content: flex-end;
  }
}


/* ======FOR ALL THUMBNAIL =========*/

/*shop thumbnails*/
.thumbnail-square-shop {
    object-fit: cover;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.thumbnail-square-blog {
    object-fit: cover;
    width: 100px;
    height: 70px;
    overflow: hidden;
}



/*=== Media Queries for thumbnails ===*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
 }

/* Small devices (landscape phones, 576px and up) [iPhone 6/Pixel 2] */
/* @media (min-width: 576px) and (max-width: 767.98px) {

 } */
@media (min-width: 375px) and (max-width: 575.98px) {
  .thumbnail-square-shop {
      width: 330px;
      height: 330px;
  }

  .thumbnail-square-blog {
      zoom:0.9;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .thumbnail-square-shop {
      width: 330px;
      height: 330px;
  }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .thumbnail-square-shop {
      width: 210px;
      height: 210px;
  }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
 }

/*--------*/

/*FOOTER*/

#footer-searchBar-container:focus {
  position: absolute;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255, 193, 7)
}

#footer-searchBar {
  width: 100%;
  background-color: #495057;
  color: white;
  border-radius: 0;
}

#footer-searchBar:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .2);
  /* background-color: lightblue; */
  border-radius: 0px;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  .footer-logo {
    justify-content: center;
    text-align: center;
  }
  #nav-bottom-social-bar {
    justify-content: center;
  }
}

#footer-category-list a {
  color: white;
  background-color: #343a40;
}
#footer-category-list a:hover,
#footer-category-list a:active {
  color: white;
  background-color: #212529;
}

#nav-bottom-social-bar .nav-item {
  background-color: #495057;
  border-radius: 50%;
  margin: 2px 6px;
  transition: .3s;
}
#nav-bottom-social-bar .nav-item:hover {
  background-color: #545b62;
}

#nav-bottom-social-bar .nav-link {
  padding: .25rem .5rem;
  color: #cacaca;
  transition: .3s;
}
#nav-bottom-social-bar .nav-link:hover {
  color: #fff;
}

#nav-bottom-social-bar .nav-link i {
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

[type="text"]#footer-searchBar::-webkit-input-placeholder {
  /* color: orange; */
  font-style:italic;
  font-size: smaller;
}

/*=== media queries for posts ===*/

/*Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px){
    #popular-posts {
      zoom:0.8;
    }
 }
